<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/TextBoXpander" defaultlocale="en" version="1.1 RC">

	<name>TextBoXpander</name>
	<author href="http://my.opera.com/christoph142/blog">Christoph D.</author>
	<icon src="images/icon.png" />
	
	<description xml:lang="cs">Automaticky mění velikost zadávacích polí a textových oblastí mezitím co vy píšete</description>
	<description xml:lang="de">Passt die Größe von Textfeldern automatisch während dem Schreiben an</description>
	<description xml:lang="en">Automatically resizes input fields and textareas while you're typing</description>
	<description xml:lang="fr">Redimensionne les champs de saisie et les zones de texte automatiquement lorsque tu tapes</description>
	<description xml:lang="pt">Automaticamente redimensiona caixas de texto conforme você digita</description>
	
	<!--feature name="opera:contextmenus" required="false" /-->
	
	<preference name="resizable" value="horizontal" />
	<preference name="disable_scrolling" value="0" />
	<preference name="transition_duration" value="300" />
	<preference name="collapse_textareas" value="1" />
	
</widget>
